<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="frontendPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="sharpPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <frontendPlugins configSource="FrontEnds.xml" />
  <sharpPlugins configSource="Plugins.xml" />
  <appSettings file="">
    <clear />
    <add key="processPriority" value="256" />
    <add key="fftOffset" value="-40.0" />
    <add key="automaticIQBalancePasses" value="5" />
    <add key="pllPhaseAdjM" value="0.0" />
    <add key="pllPhaseAdjB" value="-1.75" />
    <add key="deemphasisTime" value="50" />
    <add key="tuningLimit" value="0.45" />
    <add key="gradient" value="4A0000,750000,9F0000,C60000,FF0000,FE6D16,FFFF00,FFFFFF,1E90FF,000091,000050,000030,000020" />
    <add key="snrGradient" value="FFFFFF,1E90FF,000091,000050" />
    <add key="spectrumAnalyzerGradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
    <add key="spectrumAnalyzerEnvelopeColor" value="FFFFFF" />
    <add key="spectrumAnalyzerFillColor" value="1E90FF" />
    <add key="waterfall.useUtcTimeStamp" value="False" />
    <add key="stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,5 kHz,6.25 kHz,7.5 kHz,8.33 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
    <add key="funcubeFrequencyCorrection" value="-21.0" />
    <add key="softrockFrequencyMultiplier" value="4" />
    <add key="RTLBufferLength" value="16384" />
    <add key="minOutputSampleRate" value="32000" />
    <add key="minThreadedSampleRate" value="1000000" />
    <add key="airspy.vga" value="6" />
    <add key="airspy.mixerAgc" value="False" />
    <add key="airspy.mixer" value="6" />
    <add key="airspy.lnaAgc" value="False" />
    <add key="airspy.lna" value="1" />
    <add key="airspy.sampleRate" value="0" />
    <add key="airspy.decimation" value="0" />
    <add key="airspy.biasTeeEnabled" value="False" />
    <add key="airspy.spyVerterEnabled" value="True" />
    <add key="airspy.spyVerterPPM" value="0" />
    <add key="airspy.usePacking" value="False" />
    <add key="airspy.aliasFreeRatio" value="0.8" />
    <add key="rdsUseFEC" value="True" />
    <add key="timestampInterval" value="100" />
    <add key="SDRIQReadBlockCount" value="1" />
    <add key="zoomPosition" value="1" />
    <add key="displayBeforeFilter" value="True" />
    <add key="SDRIQOutFifoBlockCount" value="0" />
    <add key="showBookmarks" value="False" />
    <add key="HackRFSampleRate" value="8 MSPS" />
    <add key="HackRFFrequencyCorrection" value="0" />
    <add key="HackRFLNAGain" value="3" />
    <add key="HackRFVGAGain" value="3" />
    <add key="HackRFExternalAmp" value="False" />
    <add key="dnr.af.enabled" value="False" />
    <add key="dnr.af.profile" value="2" />
    <add key="dnr.af.threshold" value="-92" />
    <add key="dnr.af.depth" value="20" />
    <add key="dnr.af.smoothing" value="100" />
    <add key="dnr.af.attack" value="10" />
    <add key="dnr.af.decay" value="50" />
    <add key="dnr.af.fft" value="5" />
    <add key="dnr.if.enabled" value="False" />
    <add key="dnr.if.profile" value="0" />
    <add key="dnr.if.boostSNR" value="False" />
    <add key="dnr.if.threshold" value="-80" />
    <add key="dnr.if.depth" value="10" />
    <add key="dnr.if.smoothing" value="200" />
    <add key="dnr.if.attack" value="20" />
    <add key="dnr.if.decay" value="30" />
    <add key="dnr.if.fft" value="5" />
    <add key="NBEnabled" value="False" />
    <add key="NBThreshold" value="80" />
    <add key="NBPulseWidth" value="10.0000001490116" />
    <add key="enableZoomFFTFilter" value="False" />
    <add key="enableZoomIF" value="False" />
    <add key="enableZoomMPX" value="False" />
    <add key="enableZoomAF" value="False" />
    <add key="spectrumAnalyzerAttack" value="0.4" />
    <add key="spectrumAnalyzerDecay" value="0.34" />
    <add key="waterfallAttack" value="1" />
    <add key="waterfallDecay" value="0.86" />
    <add key="useTimeMarkers" value="False" />
    <add key="fftSpeed" value="40" />
    <add key="fftContrast" value="0" />
    <add key="fftWindowType" value="3" />
    <add key="spectrumStyle" value="3" />
    <add key="fftView" value="2" />
    <add key="fftResolution" value="6" />
    <add key="detectorType" value="1" />
    <add key="useAGC" value="True" />
    <add key="agcThreshold" value="-50" />
    <add key="agcDecay" value="500" />
    <add key="agcSlope" value="0" />
    <add key="agcHang" value="False" />
    <add key="frequencyShift" value="0" />
    <add key="frequencyShiftEnabled" value="False" />
    <add key="swapIQ" value="False" />
    <add key="correctIQ" value="False" />
    <add key="markPeaks" value="False" />
    <add key="fmStereo" value="True" />
    <add key="filterAudio" value="True" />
    <add key="unityGain" value="False" />
    <add key="latency" value="100" />
    <add key="sampleRate" value="48000 sample/sec" />
    <add key="audioGain" value="46" />
    <add key="AudioIsMuted" value="False" />
    <add key="windowState" value="0" />
    <add key="windowPosition" value="268,42" />
    <add key="windowSize" value="1031,735" />
    <add key="collapsiblePanelStates" value="1,1,0,1,0,0,0,0,1,0,0" />
    <add key="splitterPosition" value="324" />
    <add key="iqSource" value="2" />
    <add key="waveFile" value="" />
    <add key="centerFrequency" value="88700000" />
    <add key="vfo" value="88700000" />
    <add key="tuningStyle" value="2" />
    <add key="fftDisplayOffset" value="0" />
    <add key="fftDisplayRange" value="5" />
    <add key="inputDevice" value="[MME] Microsoft Sound Mapper - Input" />
    <add key="outputDevice" value="[MME] Microsoft Sound Mapper - Output" />
    <add key="spectrumWidth" value="1920001" />
    <add key="lockCarrier" value="False" />
    <add key="useAntiFading" value="False" />
    <add key="wfmState" value="218110,250,3,50,0,1000,1,17,0,1" />
    <add key="nfmState" value="11480,1000,3,50,1,1000,1,12,0,1" />
    <add key="amState" value="10000,1000,3,50,0,1000,1,4,0,1" />
    <add key="lsbState" value="2400,1000,3,50,0,1000,1,1,0,1" />
    <add key="usbState" value="2400,1000,3,50,0,1000,1,1,0,1" />
    <add key="dsbState" value="6000,1000,3,50,0,1000,1,1,0,1" />
    <add key="cwState" value="300,1000,3,50,0,1000,1,1,0,1" />
    <add key="rawState" value="10000,1000,3,50,0,1000,1,4,1,0" />
    <add key="topSplitter" value="200" />
    <add key="bottomSplitter" value="200" />
    <add key="leftSplitter" value="200" />
    <add key="rightSplitter" value="200" />
    <add key="menuIsHidden" value="False" />
    <add key="rtl.tunerGain" value="21" />
    <add key="rtl.sampleRate" value="3" />
    <add key="rtl.tunerAgc" value="False" />
    <add key="rtl.frequencyCorrection" value="0" />
    <add key="rtl.chipAgc" value="False" />
    <add key="rtl.samplingMode" value="0" />
    <add key="rtl.offsetTuning" value="False" />
  </appSettings>
</configuration>